.about{
   height: 100vh;
   display: flex;
   align-items: center;
   &__photo{
        position: relative;
         height: 400px;
         width: 400px;
         border-radius: 100%;
         border:4px solid #fff;
         overflow: hidden;
      &-img{
       position: absolute;
       top: -40px;
      }
   }
   &__info{
      width: 500px;
      &-title{
         font-weight: bold;
         font-size: 40px;
         line-height: 40px;
         color: $yellowColor;
      }
      &-author{
         margin-top: 40px;
         font-weight: bold;
         font-size: 35px;
         line-height: 40px;
         color: $whiteColor;
      }
      &-position{
         margin-top: 20px;
         font-weight: bold;
         font-size: 20px;
         line-height: 40px;
         color: $whiteColor;
      }
      &-descr{
         margin-top: 20px;
         font-weight: normal;
         font-size: 18px;
         line-height: 30px;
         color: $whiteColor;
      }
   }
   
}
