.header{
   position:fixed;
   overflow: hidden;
   width: 100%;
   background: $mainColor;
   z-index: 2;
}
.nav{
   height: 120px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   &__menu{
      display: flex;
      justify-content: space-between;
      width: 600px;
      list-style-type: none;
      transition: all 3s ease ;
      &-item{
         
         
       a{
         text-decoration: none;
         color: $whiteColor;
         font-weight: normal;
         font-size: 20px;
         line-height: 20px;
         color: #0095B7;
         padding: 0 4px;
         border-radius: 10px;
         &:hover{
            background-color: $yellowColor;
            color:#fff;
         }

          
       }
      }

   }
  
}
