.skills{
   margin-top: 120px;
   &__items{
      margin-top: 70px;
      display: flex;
      column-gap: 20px;
      row-gap: 40px;
      flex-wrap: wrap;
      &-item{
         border: 1px solid #0095B7;
         border-radius: 4px;
         padding: 8px 10px;
         color: $whiteColor;
      }
   }
}